@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* TODO: DARK AND LIGHT schemes */
@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.active_nav { 
  @apply bg-zinc-300 bg-gradient-to-tl;
}

section {
  @apply mb-6;
}

h3 {
  @apply text-3xl mb-4 sticky md:static top-0 py-2 bg-stone-200
}

a {
  @apply underline hover:text-slate-600
}